/* body {
    justify-content: center;
    color:#4F7068 ;
}

img {
    margin-bottom: 1em;
    max-width: 200px;
}

button {
    margin: .5em
}

a:link {
    color: rgb(253, 253, 253);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: darkgreen;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  } */