.plant__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px darkgreen;
    flex-grow: 20;
    flex-wrap: wrap;
    border-radius: 4px
}

/* plant class below is for PlantDetail */
.plant {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px darkgreen;
    flex-grow: 20%;
    flex-wrap: wrap;
    border-radius: 4px;
    margin: .5em
}

.plant__pic {
    margin: .5em;
    max-width: 150px;
    max-height: 150px;
    border-radius: 4px;
}